#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.main__heading {
  margin-bottom: 1.5rem;
}

.countries {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.country {
  background-color: rgb(243 244 246);
  color: #242424;
  border-radius: 0.5rem;
  max-width: 18rem;
  height: 22rem;
}

.country__flag {
  border-radius: 0.5rem 0.5rem 0 0;
  height: 12rem;
  object-fit: cover;
}
.country__text-content {
  padding: 0 1rem 0.5rem;
}

.country__name {
  margin-bottom: 0;
  font-size: 1.25rem;
}

.country__continent {
  margin: 0;
  font-weight: normal;
  font-size: 1rem;
}

.country__info {
  display: flex;
  gap: 3rem;
}

.country__info-container {
  display: flex;
  flex-direction: column;
}

.country__label {
  font-size: 0.8rem;
}

.country__value {
  font-weight: bold;
}
