:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
  color: white;
}

img {
  max-width: 100%;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 0;
  margin: 0;
}
